/* Default styles for larger screens */
/* Mobile view */
@media (max-width: 768px) {
    main {
        margin-left:20px; /* Reduce left margin */
        margin-right: 20px; /* Reduce right margin to avoid text overflow */
        padding: 10px;
        box-sizing: border-box; /* Ensure margins, padding, and borders are calculated */
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }
}


/* Mobile view */
@media (max-width: 768px) {
    h3.display-4 {
        font-size: 1.5rem; /* Smaller font size for mobile */
    }
}

